@import "vendors/bootstrap";
@import "vendors/media";
@import "compass";
$text-font: 'Lora', serif; // GLOBAL
// GLOBAL

body {
  font-family: $text-font;
  font-size: 16px;
  background-color: white;
  margin: 50px 0;
}

a {
  color: black !important;

  &:hover {
    border-bottom: 1px solid black;
    text-decoration: none;
  }
}
// HEADER

#header-title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
// NAVIGATION

#nav-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  float: none;
}

.navbar {
  background-color: transparent;
  border-color: transparent;
  font-size: 2rem;

  .active {
    border-bottom: 1px solid black;

    &:hover {
      border-bottom: none;
    }

    a {
      background-color: white !important;
    }
  }

  .dropdown-menu {
    padding: 0 !important;

    li {
      a {
        font-size: 2rem;
      }
    }
  }
}
// JUMBOTRON

#bg {
  background: url('../img/font.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  #index-jumbo {
    justify-content: space-around;
  }

  .jumbotron {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25%;
    height: 900px;

    h2 {
      text-align: center;
      margin-bottom: 40px;
    }

    .btn-default {
      &:hover {
        background-color: white !important;
      }
    }

    #mobile-img {
      display: none;
    }

    #face-img {
      width: 40%;
      height: auto;
      float: left;
      margin: 0 1em 1em 0;
      opacity: 0.5;
      @include transition-property(all);
      @include transition-duration(1s);
      @include transition-timing-function(ease-in-out);

      &:hover {
        opacity: 1;
      }
    }

    .title-gallery {
      margin-bottom: 20px;

      h2 {
        text-align: center;
      }
    }

    .video {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .videos {
        margin-bottom: 20px;
      }
    }

    .items {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: center;
      // align-items: center;
      // .col-md-4 {
      //   width: 33% !important;
      // }
      .item {
        max-height: 430px;
        max-width: 300px;
        margin: 0 0 20px;

        .caption {
          h3 {
            min-height: 60px;
            display: flex;
            align-items: center;
          }
        }

        .hidden-img {
          display: none;
        }
      }
    }

    .expo {
      max-height: 900px;
      overflow: scroll;
      .col-expo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .photo-expo {
          width: 50%;
          height: auto;
          float: left;
          margin: 0 1em 1em 0;
        }
      }
    }
  }
}
// FOOTER

footer {
  margin-top: 50px;

  .row {
    display: flex;
    align-items: center;

    .social-icons {
      display: flex;
      flex-direction: row;
      flex-shrink: 1;
      justify-content: space-around;

      a {
        border-bottom: none;
      }

      .fa-facebook {
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in-out);

        &:hover {
          color: #3b5999;
        }
      }

      .fa-youtube {
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in-out);

        &:hover {
          color: #cd201f;
        }
      }

      .fa-rss {
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in-out);

        &:hover {
          color: #ee802f;
        }
      }

      .fa-instagram {
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in-out);

        &:hover {
          color: #bc2a8d;
        }
      }

      .fa-google-plus {
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in-out);

        &:hover {
          color: #dd4b39;
        }
      }

      .fa-pinterest-p {
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in-out);

        &:hover {
          color: #bd081c;
        }
      }

      .fa-vk {
        @include transition-property(color);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in-out);

        &:hover {
          color: #4c75a3;
        }
      }
    }
  }
}
// MODAL

#order {
  .modal-content {
    padding: 20px;
  }

  .modal-body {
    li ul li {
      margin-left: 20px;
    }
  }
}

#contacts {
  .modal-content {
    padding: 20px;
  }
}
